<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zpw.myplayground">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPlayGround"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".flutter.AddFlutterActivity"
            android:theme="@style/Theme.MyPlayGround.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:theme="@style/Theme.Translucent.newsfeed_android"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".jni.JniActivity"/>
<!--        <activity android:name=".coroutines.CoroutineActivity"/>-->
        <activity android:name=".unittest.LoginActivity"/>
        <activity android:name=".workmanager.WorkmanagerActivity"/>
        <activity android:name=".koin.KoinActivityA"/>
        <activity android:name=".koin.KoinActivityB"/>
        <activity android:name=".robolectric.RobolectricAActivity"/>
        <activity android:name=".mvvm.MVVMActivity"/>


        <service android:name=".foregroundservice.SampleForegroundService"/>
        <service android:name=".sharememory.AshmemService"
            android:enabled="true"
            android:exported="false"
            android:process=":sharememory">
            <intent-filter>
                <action android:name="com.zpw.myplayground.sharememory.AshmemService"/>
            </intent-filter>
        </service>
        <service android:name=".sharememory.native.NativeAshmemService"
            android:enabled="true"
            android:exported="false"
            android:process=":nativesharememory">
            <intent-filter>
                <action android:name="com.zpw.myplayground.sharememory.native.NativeAshmemService"/>
            </intent-filter>
        </service>
        <!--
            内核首次加载时优化Service声明;
            该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束.
        -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>